@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-move-left {
    animation: moveLeft 15s linear infinite;
}